<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.lc.order.mapper.BillMiddleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhkj.lc.order.model.entity.BillMiddle">
        <id column="id" property="id" />
        <result column="account_pay_number" property="accountPayNumber" />
        <result column="order_number" property="orderNumber" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_pay_number AS accountPayNumber, order_number AS orderNumber,tenant_id AS tenantId
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column">
        id, account_pay_number,order_number, tenant_id
    </sql>

    <select id="selectByAccountPayNumber" resultMap="BaseResultMap">
        select <include refid="Base_Column"/>
        from billmiddle
        where account_pay_number = #{accountPayNumber}
        and tenant_id = #{tenantId}
    </select>

    <select id="selectOrderIdByaccId" resultMap="BaseResultMap">
        select
          bb.order_number
        from billmiddle bb
        left join need_pay_bill np on np.account_pay_id = bb.account_pay_number
        where np.id = #{accountId} and np.tenant_id = #{tenantId}
    </select>

    <delete id="removeAllOrder">
        delete from billmiddle
        where account_pay_number = #{accountPayNumber}
    </delete>

    <delete id="removeOrder">
        delete from billmiddle
        where account_pay_number = #{accountPayNumber} and order_number = #{orderNumber}
    </delete>
</mapper>
