<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.lc.order.mapper.OrdCommonTruckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="commonOrdTruck" type="com.zhkj.lc.order.dto.OrdCommonTruckVO">
        <id column="order_id" property="orderId" />
        <result column="truck_type" property="truckType" />
        <result column="truck_team_id" property="truckTeamId" />
        <result column="mdriver_id" property="mdriverId" />
        <result column="sdriver_id" property="sdriverId" />
        <result column="plate_number" property="plateNumber" />
        <result column="pay_rate" property="payRate" />
        <result column="pay_price" property="payPrice" />
        <result column="vehicle_type" property="vehicleType" />
        <result column="vehicle_length" property="vehicleLength" />
        <result column="transport_fee" property="transportFee" />
        <result column="pack_fee" property="packFee" />
        <result column="release_fee" property="releaseFee" />
        <result column="insurance_fee" property="insuranceFee" />
        <result column="other_fee" property="otherFee" />
        <result column="pay_type" property="payType" />
        <result column="oil_payment" property="oilPayment" />
        <result column="total_fee" property="totalFee" />
        <result column="cash_payment" property="cashPayment" />
        <result column="charged_mileage" property="chargedMileage" />
        <result column="luqiao_fee" property="luqiaoFee" />
        <result column="oil_fee" property="oilFee" />
        <result column="remarks" property="remarks" />
        <result column="if_add_to_yfbill" property="ifAddToYfbill" />
        <result column="tenant_id" property="tenantId" />
        <result column="need_pay_status" property="needPayStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      select  order_id, truck_type, truck_team_id, mdriver_id,sdriver_id, plate_number, pay_price, pay_rate, vehicle_type, vehicle_length, transport_fee, pack_fee, release_fee, insurance_fee, other_fee, pay_type, oil_payment,
      total_fee, cash_payment, charged_mileage, luqiao_fee, oil_fee, remarks, tenant_id, need_pay_status, if_add_to_yfbill
      from ord_common_truck
    </sql>


    <select id="selectCommonTruck" resultMap="commonOrdTruck">
        <include refid="Base_Column_List" />
        where order_id = #{orderId}
    </select>
    <!--更新集装箱订单字段值(移除对账单)-->
    <update id="updateForYFBillByOrderIds">
        update ord_common_truck
           set if_add_to_yfbill = '0'
        where order_id in
        <foreach item="orderId" collection="orderIds"  open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </update>
</mapper>
